@media screen and (max-width: 800px) {
  .nav-tabs {
    flex-direction: row;
  }

  .nav-item:not(.burger-icon) {
    display: none;
  }

  .burger-icon {
    display: block;
  }
  .h {
    margin-left: 0;
    margin-right: 0;
    left: -350px;
    #search {
      margin: 0;
    }
    .search {
      margin: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .uper,
  .downer {
    flex-direction: column;
    justify-content: space-around;

    p {
      transform: translateY(30px);
      transform: translateX(60px);
    }
  }
  .Con1,
  .Con2,
  .Con3,
  .Con4,
  .Con5,
  .Con6,
  .Con7,
  .Con8 {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .Log-in {
    form {
      label {
        input {
          width: 300px;
        }
        button {
          width: 300px;
        }
      }
    }
  }
}