@import  "reset.scss";
@import  "mixin.scss";
@import  "variables.scss";

header {
    @include flex-box;
  
    ul { 
        font-size: 19px;
        font-weight: 700;
        a{
            text-decoration: none;
        }
    }
}
